@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  /* Colors */
  --color-white: #eff1f5;
  --color-black: #11111b;
  --color-gray0: #1e1e2e;
  --color-gray1: #313244;
  --color-blue: #1e66f5;
  --color-sky: #89b4fa;
  --color-pink: #ea76cb;
  --color-purple: #8839ef;
  --color-teal: #94e2d5;
  --color-red:#d20f39; 
  --color-yellow: #f9e2af;

  /* Element-specific colors */
  --color-nav: #181825cc;
  --color-nav-btn: #ffffff09;
  --color-shadow: #00000033;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

.wrapper {
  background-color: var(--color-black);
}

.hline {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray1);
  margin: 2rem 0;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: var(--color-white);
}

a:hover {
  color: var(--color-blue);
}

a:active,
button:active {
  -webkit-tap-highlight-color: transparent;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: var(--color-nav);
  backdrop-filter: blur(5.5px);
  border-bottom: 1px solid var(--color-gray1);
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.nav-link {
  color: var(--color-white);
  border-radius: 3px;
  border: none;
  background-color: transparent;
  padding: 0.3rem 0.5rem;
  width: 5rem;
  font-size: 1rem;
  text-align: center;
}

.nav-link:hover {
  border-radius: 4px;
  border: none;
  background-color: var(--color-nav-btn);
}

#nav-menu {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  padding: 1rem 0;
}

#nav-menu span {
  padding: 0 0 0.6rem 1rem;
}

.nav-menu-link {
  text-align: left;
  width: 100vw;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  padding: 0.7rem 1rem;
}

.nav-menu-link:hover {
  /* color: var(--color-blue); */
  background-color: var(color-gray0);
}

#menu-btn {
  fill: var(--color-blue);
}

#nav-btn-icon button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Dark Background Overlay */
.dark-bg {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 9998;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.dark-bg.active {
  visibility: visible;
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

/* Navigation Menu */
.nav-icon-menu {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 55vh;
  background-color: var(--color-black);
  border-radius: 12px 12px 0 0;
  z-index: 99999;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav-icon-menu.active {
  visibility: visible;
  flex-direction: column;
  bottom: 0;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-slider span {
  width: 50px;
  height: 4px;
  margin: 1rem 0;
  background-color: var(--color-gray1);
  border-radius: 2px;
}

/* Profile Section */
.pfp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.pfp-container img {
  border-radius: 50%;
  object-fit: cover;
  background: linear-gradient(45deg,var(--color-teal),var(--color-blue));
  border: 2px solid transparent;
}

.pfp-container::after {
  content: '';
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  background-clip: text;
}

.profile-name {
  font-size: clamp(2rem,10vw,4rem);
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--color-white);
  background-clip: text;
}

.profile-subtitle {
  font-size: 1.2rem;
  color: gray;
}

#profile { 
  display: flex;
  flex-direction: row !important;
}

/* Social Links */
.social__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-btn-icon {
  fill: var(--color-gray0);
}

#github:hover {
  border-radius: 50%;
  fill: var(--color-purple);
  box-shadow: 0 0 10px var(--color-purple);
}

#linkedin:hover {
  border-radius: 20%;
  fill: var(--color-teal);
  box-shadow: 0 0 10px var(--color-teal);
}

#yt:hover {
  border-radius: 30%;
  fill: var(--color-red);
  box-shadow: 0 0 10px var(--color-red);
}

#fb:hover {
  border-radius: 5%;
  fill: var(--color-blue);
  box-shadow: 0 0 10px var(--color-blue);
}

/* Misc */
.name {
  color: transparent;
  background: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  background-clip: text;
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  padding: 2rem 0;
}

footer span {
  font-weight: bold;
  color: var(--color-blue);
}

.contact__container {
  height: auto;
  display: flex;
  justify-content: end;
  padding: 2rem 0;
  background-image: linear-gradient(to bottom, var(--color-black),#1f1a30);
  flex-direction: row;
}

.contact__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.contact__desc {
  margin-bottom: 1rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1rem;
  background-color: var(--color-gray0);
  padding: 2rem;
  border-radius: 8px;
  max-width: 90vw;
  align-self: center;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.contact__form label {
  font-size: 0.7rem;
}

.contact__form input {
  border-radius: 2px;
  height: 30px;
  background-color: var(--color-gray1);
  border: transparent;
  padding-left: 0.5rem;
  color: var(--color-white);
  font-size: 0.7rem;
}

.contact__form textarea {
  border-radius: 2px;
  height: 100px;
  background-color: var(--color-gray1);
  border: transparent;
  padding: 0.5rem;
  color: var(--color-white);
  font-size: 0.7rem;
}

.contact__form form div {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  background-color: var(--color-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
  align-self: center;
}

button:hover {
  background-color: var(--color-gray1);
}

#about {
  background-color: var(--color-gray0);
  width: 100%;
}

.sec__container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
}

.sec__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: stretch;

}

.sec__content > * {
  width: 45%;
  min-width: 45%;
}

.sec__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
}

.sec__card img {
  width: 100%;
  border-radius: 8px;
}

.sec__title {
  font-weight: bold;
  font-size: large;
}

.sec__desc {
  font-size: 0.8rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}


.sec__subtitle {
  font-size: 0.8rem;
  width: 90%;
  margin: 1rem 0;
}

.proj-card {
  background-color: var(--color-gray0);
  border-radius: 12px;
  border: 1px solid var(--color-gray1);
}

.proj-card button {
  text-align: center;
  max-width: 40%;
  padding: 0.7rem;
  font-size: calc(0.4rem + 0.6vw);
  border-radius: 4px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: transparent;
  cursor: pointer;
}

.proj-card button:hover {
  background-color: var(--color-gray0);
  outline: 2px solid var(--color-blue);
  color: var(--color-blue);
}

.proj__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  height: 100%;
}

.proj__tag {
  padding: 0.4rem;
  font-size: small;
  border-radius: 4px;
  font-weight: bold;
}

.webdev {
  color: var(--color-purple);
  background-color: #8839ef20;
  border: 1px solid var(--color-purple);
}

.js {
  color: var(--color-yellow);
  background-color: #f9e2af20;
  border: 1px solid var(--color-yellow);
}

.cpp {
  color: #fab387;
  background-color: #fab38720;
  border: 1px solid #fab387;
}

.gamedev {
  color: var(--color-teal);
  background-color: #94e2d520;
  border: 1px solid var(--color-teal);
}

.proj-tag {
  font-family: Nunito;
  margin-bottom: 1rem;
}

.contact__cta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-self: center;
}

.contact__cta__header {
  font-weight: bold;
  font-size: 2.5rem;
}
