@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  /* Colors */
  --color-white: #eff1f5;
  --color-black: #11111b;
  --color-gray0: #1e1e2e;
  --color-gray1: #313244;
  --color-blue: #1e66f5;
  --color-pink: #ea76cb;
  --color-purple: #8839ef;
  --color-teal: #65d3ff;
  --color-red:#d20f39; 

  /* Element-specific colors */
  --color-nav: #181825cc;
  --color-nav-btn: #ffffff09;
  --color-shadow: #00000033;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

/* Base Styles */
body {
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

.wrapper {
  background-color: var(--color-black);
}

.hline {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray1);
  margin: 2rem 0;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: var(--color-white);
}

a:hover {
  color: var(--color-blue);
}

a:active,
button:active {
  -webkit-tap-highlight-color: transparent;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: var(--color-nav);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-gray1);
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.nav-link {
  color: var(--color-white);
  border-radius: 3px;
  border: none;
  background-color: transparent;
  padding: 0.3rem 0.5rem;
  width: 5rem;
  font-size: 1rem;
  text-align: center;
}

.nav-link:hover {
  border-radius: 4px;
  border: none;
  background-color: var(--color-nav-btn);
}

#nav-menu {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  padding: 1rem 0;
}

#nav-menu span {
  padding: 0 1rem;
}

.nav-menu-link {
  text-align: left;
  width: 100vw;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  padding: 0.3rem 1rem;
}

.nav-menu-link:hover {
  /* color: var(--color-blue); */
  background-color: var(color-gray0);
}

#menu-btn {
  fill: var(--color-blue);
}

#nav-btn-icon button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Dark Background Overlay */
.dark-bg {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 9998;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.dark-bg.active {
  visibility: visible;
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

/* Navigation Menu */
.nav-icon-menu {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  background-color: var(--color-black);
  border-radius: 12px 12px 0 0;
  z-index: 99999;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav-icon-menu.active {
  visibility: visible;
  flex-direction: column;
  bottom: 0;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-slider span {
  width: 50px;
  height: 4px;
  margin: 1rem 0;
  background-color: var(--color-gray1);
  border-radius: 2px;
}

/* Profile Section */
.pfp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.pfp-container img {
  border-radius: 50%;
  object-fit: cover;
  background: linear-gradient(45deg,var(--color-teal),var(--color-blue));
  border: 2px solid transparent;
}

.pfp-container::after {
  content: '';
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vw;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.profile-subtitle {
  font-size: 1.2rem;
  color: gray;
}

#profile { 
  display: flex;
  flex-direction: row !important;
}

/* Social Links */
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.social-btn-icon {
  fill: var(--color-black);
}

#github:hover {
  border-radius: 50%;
  fill: var(--color-purple);
  box-shadow: 0 0 10px var(--color-purple);
}

#linkedin:hover {
  border-radius: 20%;
  fill: var(--color-teal);
  box-shadow: 0 0 10px var(--color-teal);
}

#yt:hover {
  border-radius: 30%;
  fill: var(--color-red);
  box-shadow: 0 0 10px var(--color-red);
}

#fb:hover {
  border-radius: 5%;
  fill: var(--color-blue);
  box-shadow: 0 0 10px var(--color-blue);
}

/* About Section */
.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  gap: 3rem;
}

.aboutme-container img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

h1 {
  margin: 1rem 0;
  text-align: center;
}

h2 {
  margin: 1rem 0;
}

.aboutme-content p {
  font-family: "Nunito", sans-serif;
  margin: 0.5rem 1.5rem;
}

/* Specialization Section */
.specialization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 3rem 0;
  font-family: "Nunito", sans-serif;
}

.blog-content {
  margin: 1rem;
}

/* Misc */
.name {
  color: transparent;
  background: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  background-clip: text;
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

footer span {
  font-weight: bold;
  color: var(--color-blue);
}

.contacts-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--color-gray0);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
}

.submit-btn {
  background-color: var(--color-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 40vw;
  align-self: center;
}

button:hover {
  background-color: var(--color-gray1);
}
