/* Desktop */
@media(width > 600px) {
  #nav-btn-tray {
    display: flex;
  }
  #nav-btn-icon {
    display: none;
  }
  .contact__form {
    width: 50%;
  }
  .sec__content {
    flex-direction: row;
    padding: 2rem 0;
  }
  .contact__container {
    flex-direction: row;
  }
  .contact__cta {
    padding: 1rem;
    max-width: 50%;
  }
}

/* Mobile */
@media(width <= 600px) {
  #nav-btn-tray {
    display: none;
  }
  #nav-btn-icon {
    display: flex;
  }
  .contact__form {
    width: 100%;
  }
  .sec__content {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .sec__card {
    width: 95%;
    align-self: center;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__cta {
    max-width: 90%;
  }
}

@media(width <= 930) {
  .sec__content {
    flex-direction: row;
  }
}

@media(width > 930) {
  .sec__content {
    flex-direction: column;
  }
}

  /* Scrollbar Hiding */
  /* html { */
  /*   -ms-overflow-style: none; */
  /*   scrollbar-width: none; */
  /* } */
  /*  */
  /* html::-webkit-scrollbar { */
  /*   display: none; */
  /* } */


@media(width > 1000px){
  .wrapper {
    width: 1000px;
    border-color: var(--color-gray1);
    border-style: solid;
    border-width: 0 1px; 
  }
}


@media(width <= 1000px){
  .wrapper {
    width: 100vw;
  }
}
